<!DOCTYPE html>
<html>
<head>
	<title>Registration form</title>
</head>
<body>
	<h1>Add user</h1>
	<form method="post">
	<table border="1">
		<tr>
			<td>Employee name:</td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td>contact no:</td>
			<td><input type="text" name="contactno"></td>
		</tr>
		<tr>
			<td>Username:</td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td>PASSWORD</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td><input type="submit" name="submit" value="Save"></td>
			<td></td>
		</tr>
	</table>
</form>
</body>
</html>